// BEGIN
html
  head
    title Gwampi 2050
    link(rel='stylesheet', href='/static/css/style.css')
    script(src='/static/lib/jquery-3.3.1.js')
    script(src='/static/lib/common.js')

    // beep
    audio#beep(style="display:none;")
      source(src="/static/audio/beep.mp3")
      source(src="/static/audio/beep.ogg")
      source(src="/static/audio/beep.m4r")

    script.
      var geoData;
      var changedOld;

      window.onload = function() {
        // when page is first loaded
        if ('#{session.user}' && '#{session.cookie.maxAge}') {
          $('span#maxAge').text(getCookieTime('#{session.cookie.maxAge}'));
        }

        clock();
        loadGeoData();
        checkSessionOut();
      }

      function checkSessionOut() {
        //did previous session expire automatically?
        if ('#{session_expired}' == 'true') {
          footer('red', 'Your session expired!', true);
        }

        // only if there is a valid user session exists
        if ('#{session.user}') {
          var [hhmmss, sec] = downCounter($('#maxAge').text());
          if (hhmmss) {
            // alert when 5 mins away from expiry
            if ((sec / 60) <= 5) {
              $('#sessionInfo').css('display', 'unset');
              // beep once every minute until session is reset or out
              if (sec % 60 == 0) beep();
            }
            else {
              $('#sessionInfo').css('display', 'none');
            }

            $('#maxAge').text(hhmmss);
            setTimeout('checkSessionOut()', 1000);
          }
          // when it hits below zero
          else if (hhmmss === null) {
            footer('red', 'Your session expired!', true);
            var elem = document.getElementById('logout');
            var href = elem.href + '?session_expired=true&';
            elem.setAttribute('href', href);
            elem.click();
          }
        }
      }

      function beep() {
        var audio = $('audio#beep').get(0);
        audio.play();
      }

  body
    - var user = session.user
    div#head.head(style={'width': '100%', 'height': '12%'})
      table#tbl1(width='100%', height= '25%')
        tbody
          tr
            td(colspan=2)
              p(style='font-size:14px; font-family:Courier New; color:blue;')
                |&starf;&nbsp;
                span#city
                |&nbsp;&#9728;&nbsp;
                span#temp_toggle
                  span#temp
                  |&deg;
                  span#type 
                  |&nbsp;&#9729;&nbsp;
                  span#wind
            td &nbsp;
            td(align='right')
              div#clock.date
          tr
            td &nbsp;
            td &nbsp;
            td &nbsp;
            td(align='right')
              if user
                div Welcome
                  b &nbsp;#{user.fname}!
          tr
            td
              if user
                each val, key in {'grid': 'H.e.s'}
                  div.block(style={'font-variant': 'small-caps'})
                    a(id=key, class='button-a')= val
                if user.userid == 'admin'
                  each val, key in {'server': 'Server Admin'}
                    div.block(style={'font-variant': 'small-caps'})
                      a(id=key, class='button-a')= val
            td
              //if user
              div.block(style={'font-variant': 'small-caps'})
                a#home.button-a Home
            td &nbsp;
            td(align='right')
              if user
                div(style={'font-variant': 'small-caps'})
                  a#logout.button-a(href='/logout') Logout
              else
                div.block(style={'font-variant': 'small-caps'})
                  a#login.button-a Login

                div.block(style={'font-variant': 'small-caps'})
                  a#signup.button-a Sign Up

    script.
      $(document).ready(function() {
        if ('#{session.user}') {
          var session = setInterval(function() {
            var changedNew = '#{session.changed}';
            if (changedNew != changedOld) {
              var maxAgeNew = '#{session.cookie.maxAge}';
              $('span#maxAge').text(getCookieTime(maxAgeNew));
              console.log("changed: ", changedNew);
              changedOld = changedNew;
            }
          }, 1000);
        }

        // main
        $('#main').show();

        // login
        $('#login').on('click', function() {
          $.ajax({
            url: '/login',
            type: 'GET',
            dataType: 'html',
            success: function(data, status) {
              console.log('/GET passed');
              $('#main').css('background-image', 'none');
              $('#main').html(data);
              footer('blue', 'Good luck!', true);
            },
            error: function(xhr, status, error) {
              console.log(status);
              alert(error);
            }
          })
          /* duplicates
          .done(function(data, status, xhr) {
            console.log(status);
          })
          .fail(function(xhr, status, error) {
            console.log(status);
            alert(error);
          });
          */
        });

        // signup
        $('#signup').on('click', function() {
          $.ajax({
            url: '/signup',
            type: 'GET',
            dataType: 'html',
            success: function(data, status) {
              console.log('/GET passed');
              $('#main').css('background-image', 'none');
              $('#main').html(data);
            },
            error: function(xhr, status, error) {
              console.log(status);
              alert(error);
            }
          });
        });

        // home

        $('#home').on('click', function() {
          $('#mainHer').hide();
        });

        // grid
        $('#grid').on('click', function() {
          $.ajax({
            url: '/grid',
            type: 'GET',
            // commeting out this as to support both script & JSON data types.
            //dataType: 'script/json', // this does not work so just don't specify the type
            success: function(data, status) {
              console.log('/GET passed');
              console.log(status);
              if (data.error) {
                console.log(data.error);
                footer('red', data.error, true);
                // do nothing
              }
              else {
                footer('blue', 'Welcome to H.E.S!', true);
                $('#main').css('background-image', 'none');
                $('#mainHer').append(data);
              }
            },
            error: function(xhr, status, error) {
              console.log(status);
              alert(error);
            },
          });
        });

        $('#temp_toggle').on('click', function() {
          var wind = $('#wind').html().split(' ');
          var temp = $('#temp').html();
          if ($('#type').html() == 'C') {
            $('#type').html('F');
            $('#wind').html(getM(wind[0]) + ' mph ' + wind[2]);
            $('#temp').html(getF(temp));
          }
          else {
            $('#type').html('C');
            $('#wind').html(getK(wind[0]) + ' kmph ' + wind[2]);
            $('#temp').html(getC(temp));
          }
        });

        /*
        //logout 
        $('#logout').on('click', function() {
          console.log('clicked');
          $.ajax({
            url: '/logout',
            type: 'GET',
            dataType: 'html',
            data: { 'session_expired': session_expired },  
            success: function(data, status) {
              console.log('/GET logout passed');
            },
            error: function(xhr, status, error) {
              console.log(status);
            },
          });
        });
        */
        $('#chatBtn').on('click', function() {
          if ($('form#chatForm').length > 0) {
            // already loaded so show or hide
            if ($('form#chatForm').is(":visible")) {
              footer('');
              $('#main').css('opacity', '1.0');
              $('form#chatForm').hide();
            }
            else {
              footer('green', 'Welcome to the chat cafe!', true);
              $('form#chatForm').show();
              $('#main').css('opacity', '0.8');
              $('#badge').hide();
              $('#msg').focus();
            }
          }
          else {
            // load the chat page
            $.ajax({
              url: '/comm',
              type: 'GET',
              success: function(data, status) {
                console.log('/GET comm passed');
                if (data.error) {
                  console.log(data.error);
                  footer('red', "Sorry, " + data.error, true);
                }
                else {
                  $('span#chatBox').html(data);
                  // restore the conversation
                  var chatMessage = '#{session.chatMessage}';
                  if (chatMessage) {
                    $('p#cafe').html(decodeURI(chatMessage));
                  }
                }
              },
              error: function(xhr, status, error) {
                console.log(status);
              },
            });
          }
        });
      })

    hr
    div#main.main(style="display:none;")
      if user
        span#chatBtn.chatBtn &#x1F4AC;
          span#badge.badge
        span#chatBox

    div#mainHer.main(style="display:none;")

    hr
    div#foot.foot
      div#lfoot.lfoot
      div#mfoot.mfoot
      div#rfoot.rfoot
        if user
          - var views = session.views
          - var path = '/'
          - views[path] = views[path]

          //scan session views: #{views[path]}
          //  if views[path]
          //    |, session will expire in 
          span#sessionInfo(style="display:none;color:red;") Alert!!! Your session will expire in 
            span#maxAge
// END
